# ==========================
# Python cache files
# ==========================
__pycache__/
*.py[cod]
*$py.class


# ==========================
# Virtual environments
# ==========================
.venv/
venv/
env/


# ==========================
# Environment variables
# ==========================
.env


# ==========================
# Streamlit
# ==========================
.streamlit/


# ==========================
# VS Code settings
# ==========================
.vscode/


# ==========================
# Company data (private)
# ==========================
data/SalesData.xlsx


# ==========================
# Temporary files
# ==========================
*.log
*.tmp


# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db